= turbo_stream.remove @sub_statement
= turbo_stream.update("statement_ammount", partial: "statements/ammount", locals: { statement: @statement, ammount: @ammount })
= render_turbo_stream_flash_messages