 - if (current_user&.admin? || current_user&.guide?) & (!statement.statement_at.present?)
    - if statement.sub_statements.present?
      = link_to "#{t('button.statement')}", get_statement_bonus_path(statement_id: statement.id), class: "btn btn-outline-primary btn-sm mx-3"
    = link_to "#{t('button.new')}",  new_statement_sub_statement_path(statement.id), class: "btn btn-outline-success btn-sm", data: { turbo_frame: "modal_form" }